body { 
    height: 3000px;
}
h1 {
    font-family: helvetica;
    color: black;
}
#description {
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
#headerImg {
    display: flex;
    align-items: center;

}
.AppStoreButton{
    background: url(assets/AppStore.png);
  
}
.container {
    display: flex;
    height: 100vh;
}
.container:nth-child(1) div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container:nth-child(1) div:nth-child(2) {
    flex-direction: column; 
} 
.container:nth-child(1) {
    background-color: salmon;
    background: url(assets/BackgroundBody.jpeg);
}


