body{
    background-color: salmon;
    background: url(assets/Background\ Body.jpeg)
}

h1{
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 50px;
    margin-left: 850px;
    margin-top: 200px;

}
#description{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-left: 700px;

}
#FirstCel{
    margin-left: 230px;
    margin-top: -340px;
    margin-right:00;
    margin-bottom:00px;
}


